VITE_ARCGIS_APP_ID=
VITE_ARCGIS_PORTAL_URL=https://arcgis-content.maps.arcgis.com
VITE_ARCGIS_GROUP_ID=7818b0837c064c158b4cbf777570390d
VITE_ARCGIS_GROUP_QUERY_LIMIT=20
VITE_ARCGIS_TITLE_FILTER=Esri Vector Basemap Tile Statistics
VITE_DEFAULT_FILTER_FIELD=Building
VITE_DEFAULT_FILTER_THRESHOLD=0
VITE_FEATURE_EFFECT_THRESHOLD=40000
VITE_BASEMAP=dark-gray-vector
VITE_SYMBOL_SIZE=5
VITE_INITIAL_ZOOM=6
